<div class="container">
    <form action="/admin/add-essay" method="post">
        <table>
            <tr>
                <td>
                    <input type="hidden" value="{{examId}}" name="examId">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Question</label>
                </td>
                <td>
                    <input type="text" name="question" style="width:500px ; height: 100px;"><br>
                </td>
            <tr>
                <td>
                <label>Keyword 1</label>
                </td>
                <td>
                <input type="text" name="keyword1">
                </td>
            
            </tr>
             <tr>
                <td>
                <label>Keyword 2</label>
                </td>
                <td>
                <input type="text" name="keyword2">
                </td>
            </tr>
            <tr>
                <td>
                <label>Keyword 3</label>
                </td>
                <td>
                <input type="text" name="keyword3">
                </td>
            </tr>
            <tr>
                <td>
                <label>Keyword 4</label>
                </td>
                <td>
                <input type="text" name="keyword4">
                </td>
            </tr>
            <tr>
                <td>
                <label>Keyword 5</label>
                </td>
                <td>
                <input type="text" name="keyword5">
                </td>
            </tr>
            <tr>
                <td>
                <label>Keyword 6</label>
                </td>
                <td>
                <input type="text" name="keyword6">
                </td>
            </tr>
            <tr>
                <td>
                <label>Keyword 7</label>
                </td>
                <td>
                <input type="text" name="keyword7">
                </td>
            </tr>
            <tr>
                <td>
                <label>Keyword 8</label>
                </td>
                <td>
                <input type="text" name="keyword8">
                </td>
            </tr>
            <tr>
                <td>
                <label>Keyword 9</label>
                </td>
                <td>
                <input type="text" name="keyword9">
                </td>
            </tr>
            <tr>
                <td>
                <label>Keyword 10</label>
                </td>
                <td>
                <input type="text" name="keyword10">
                </td>
            </tr>
            <tr>
                <td>
                
                </td>
                <td>
                <button class="btn btn-success" type="submit">Add Question</button>
                </td>
            </tr>
        </table>
    </form>
</div>