<div class="container">
    <form class="mt-5 ml-5 p-5" style="width: 50% ;" action="/admin/add-exam" method="post">

        <div class=" form-outline mb-4">
            <label class="form-label" for="form2Example1">Exam Name</label>
            <input type="text" id="form2Example1" class="form-control" name="name" />
            
        </div>


        <div class=" form-outline mb-4">
            <label class="form-label" for="form2Example2">Number of questions</label>
            <input type="number" id="form2Example2" class="form-control" name="numberofquestions" />
            
        </div>

        <div class=" form-outline mb-4">
            <label class="form-label" for="form2Example2">Time in minutes</label>
            <input type="number" id="form2Example2" class="form-control" name="time" />
            
        </div>



        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Add Exam</button>


    </form>
</div>