<div class="container">
    <h1>{{examDetails.name}}</h1>
    <br>
    
    
    <a href="/admin/mcqs/{{examDetails._id}}"><h2>Multiple Choice Questions</h2>
    </a>
    <br>
    <a href="/admin/essays/{{examDetails._id}}"><h2>Essay Questions</h2>
    </a>
    
</div>